.content {
  display: block;

  position: relative;

  width: 300px;
  height: 300px;

  background-color: #e6b246;
  line-height: 300px;
  text-align: center;
}
table {
}
table td {
  border: 1px solid #f00;
  padding: 5px;
}
